//FONT WEIGHTS

.thin {
  font-weight: 100 !important;
}
.extralight {
  font-weight: 200 !important;
}
.light {
  font-weight: 300 !important;
}
.regular {
  font-weight: 400 !important;
}
.medium {
  font-weight: 500 !important;
}
.semibold {
  font-weight: 600 !important;
}
.bold {
  font-weight: 700 !important;
}
.extrabold {
  font-weight: 800 !important;
}
.ultrabold {
  font-weight: 900 !important;
}

    